<app-component-header-alert></app-component-header-alert>
<div class="main-container">
  <app-component-header></app-component-header>
  <nav class="subnav">
    <app-component-subnav></app-component-subnav>
  </nav>
  <div class="content-container">
    <div class="content-area">
      <fragment-btn-menu [path]="pathParams"></fragment-btn-menu>
      <app-component-table [path]="pathParams"></app-component-table>
    </div>
    <nav class="sidenav">
      <section class="sidenav-content">
        <app-component-sidebar></app-component-sidebar>
      </section>
    </nav>
  </div>
</div>