<div class="login-wrapper">
  <form class="login" [formGroup]="form"(ngSubmit)="onSubmit()">
    <section class="title">
      <h3 class="welcome">Welcome to</h3>
      Aurora
      <h5 class="hint">Use your Company ID to sign in or create one now</h5>
    </section>
    <div class="login-group">
      <clr-input-container>
        <label class="clr-sr-only">Username</label>
        <input type="text" formControlName="username" clrInput placeholder="Username"/>
      </clr-input-container>
      <clr-password-container>
        <label class="clr-sr-only">Password</label>
        <input type="password" formControlName="password" clrPassword placeholder="Password"/>
      </clr-password-container>
      <clr-checkbox-wrapper style="display: none;">
        <label>Remember me</label>
        <input type="checkbox" name="rememberMe" clrCheckbox/>
      </clr-checkbox-wrapper>
      <div class="error active" *ngIf="message != undefined">
        {{message}}
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!form.valid || sendingForm">NEXT</button>
      <div class="progress loop" *ngIf="sendingForm"><progress></progress></div>
      <a class="signup">Sign up for a Company ID</a>
      <br/>
    </div>
  </form>
</div>
