<ng-container *ngIf="data.actionGroups != undefined && data.actionGroups.length > 0">
  <div class="card">
    <div class="card-block">
      <div class="card-text">
        <clr-dg-action-bar>
          <div class="btn-group" *ngFor="let actionGroup of data.actionGroups">
            <ng-container *ngFor="let action of actionGroup.actions">
              <ng-container *ngIf="action.actions === undefined; else dropDownBtn">
                <button type="button" (click)="onClick(action.link, action.execute)" [class]="action.btnType">
                  <clr-icon [attr.shape]="action.icon"></clr-icon>
                  {{action.text}}
                </button>
              </ng-container>
              <ng-template #dropDownBtn>
                <clr-dropdown>
                  <button type="button" class="btn btn-sm btn-secondary" clrDropdownTrigger>
                    {{action.text}}
                    <clr-icon shape="caret down"></clr-icon>
                  </button>
                  <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
                    <button clrDropdownItem
                            type="button"
                            *ngFor="let subAction of action.actions"
                            (click)="onClick(subAction.link, subAction.execute)">
                      {{subAction.text}}
                    </button>
                  </clr-dropdown-menu>
                </clr-dropdown>
              </ng-template>
            </ng-container>
          </div>
        </clr-dg-action-bar>
      </div>
    </div>
  </div>
</ng-container>
