<app-component-header-alert></app-component-header-alert>
<div class="main-container">
  <app-component-header></app-component-header>
  <nav class="subnav">
    <app-component-subnav></app-component-subnav>
  </nav>
  <div class="content-container">
    <div class="content-area">
      <fragment-alert [message]="message" [active]="active" [type]="alertType"></fragment-alert>
      <fragment-btn-menu [path]="actionsUrl"></fragment-btn-menu>
      <ng-container *ngIf="data !=null; else wait">
        <app-component-tab [link]="actionsUrl"></app-component-tab>
      </ng-container>
      <ng-template #wait>
        <span class="spinner spinner-inline">
          Loading...
        </span>
      </ng-template>
    </div>
    <nav class="sidenav">
      <section class="sidenav-content">
        <app-component-sidebar></app-component-sidebar>
      </section>
    </nav>
  </div>
</div>